@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;600;700&family=Zen+Dots&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

.header {
    width: 100%;
    padding: 32px;
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.logo-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.logo-container h1 {
    font-family: 'Zen Dots', cursive;
}

.nav-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: black;
    font-weight: 600;
}

.slogan {
    width: 100%;
    text-align: center;
}

.slogan h2 {
    font-family: 'Zen Dots', cursive;
}

.info-banner-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 100px;
}

.banner-title {
    font-weight: 700;
    font-size: 32px;
}

.banner-info {
    width: 35%;
    font-size: 18px;
}